In [ ]:
# Loops

A=[4,5,6]
#A="eepak is my Name"
#print(range(5))
for i in A:
  print(i)
        

i=0
while (i<10):
  print(i)
  i=i+1

4
5
6
0
1
2
3
4
5
6
7
8
9

In [ ]:
# Get number of employees ina company from user
# For individual employee, Get information such as
# Name, Experience, Current salary, Working Days
# if the value input of any employee for working hours is less than 30 
# You need to save the recordss in a dict. Full time, parttime

NumEmp=int(input("Total Employees: "))
FlTim=[]
PrtTim=[]
for i in range(NumEmp):
  Name=input("Enter Emp Name of Emp Number "+str(i+1)+"- ")
  Exp=float(input("Enter Experience of Emp Number "+str(i+1)+"- "))
  Sal=float(input("Enter Current Salary of Emp Number "+str(i+1)+"- "))
  Dys=int(input("Enter Working days of Emp Number "+str(i+1)+"- "))
  if Dys>=30:
    FlTim.append([Name,Exp,Sal,Dys])
  else:
    PrtTim.append([Name,Exp,Sal,Dys])

print(FlTim)
print(PrtTim)

Total Employees: 3
Enter Emp Name of Emp Number 1- Deepak
Enter Experience of Emp Number 1- 5
Enter Current Salary of Emp Number 1- 15000
Enter Working days of Emp Number 1- 35
Enter Emp Name of Emp Number 2- Karan
Enter Experience of Emp Number 2- 7
Enter Current Salary of Emp Number 2- 14000
Enter Working days of Emp Number 2- 36
Enter Emp Name of Emp Number 3- yogesh
Enter Experience of Emp Number 3- 10
Enter Current Salary of Emp Number 3- 45000
Enter Working days of Emp Number 3- 20
[['Deepak', 5.0, 15000.0, 35], ['Karan', 7.0, 14000.0, 36]]
[['yogesh', 10.0, 45000.0, 20]]

In [ ]:
Info={"Fulltime":FlTim,"Parttime":PrtTim}
print(Info)

print(Info["Fulltime"])

{'Fulltime': [['Deepak', 5.0, 15000.0, 35], ['Karan', 7.0, 14000.0, 36]], 'Parttime': [['yogesh', 10.0, 45000.0, 20]]}
[['Deepak', 5.0, 15000.0, 35], ['Karan', 7.0, 14000.0, 36]]

In [ ]:
# COntrol Statements in Loops, Break, continue, pass
A='Fuel for students'
for i in A:
  if i=="e":
    break
  print(i)

F
u

In [ ]:
A='Fuel for students'
for i in A:
  if i=="e":
    continue
  print(i)

In [ ]:
A='Fuel for students'
for i in A:
  if i=="e":
    pass
  print(i)

F
u
e
l

f
o
r

s
t
u
d
e
n
t
s

### Task
Get a list of integer elements in a single line
  - print elements at even location
  - print last 5 elements of list, if any element is greater than 10 stop printing
  - print even numbers of the list

In [ ]:

MainData=list(map(int,input("Enter Elements seperated by comma: ").split(",")))
while len(MainData)!=10:
  print("Count Given By You is Not Satifactorty")
  print("Please Try Again")
  MainData=list(map(int,input("Enter Elements seperated by comma: ").split(",")))
else:
  print("You are in Else Block SO i waill run once")
  print("Please Try Again")
  MainData=list(map(int,input("Enter Elements seperated by comma: ").split(",")))

Enter Elements seperated by comma: 1,2,3,5
Count Given By You is Not Satifactorty
Please Try Again
Enter Elements seperated by comma: 1,2,3,4,5,6,7,8,9,1
You are in Else Block SO i waill run once
Please Try Again
Enter Elements seperated by comma: 1,2,4,5,

ValueError: ignored

In [ ]:
MainData=list(map(int,input("Enter Elements seperated by comma: ").split(",")))
print(MainData)
#task 1
#for i in range(len(MainData)):
#  if i%2 == 0:
#    print(MainData[i])

# Task 2
Myreq=MainData[-5:]
for i in Myreq:   # element basis
  if i>10:
    continue
  print(i)  

# Task 2 Way 2
for i in range(len(MainData)):   # index basis with no slicing
  if i>=(len(MainData)-5):
    Temp=MainData[i]
    if Temp>10:
      break
    print(Temp)  


# task 3
for i in MainData:
  if i%2 == 0:
    print(i)

Enter Elements seperated by comma: 4
[4]
4
4
4

In [ ]:
#1
#2 2
#3 3 3
#4 4 4 4

for i in range(5):
  for j in range(i):
    print(i,end=" ")
  print("\n")

1

2 2

3 3 3

4 4 4 4

In [ ]:
1
12
123
1234
12345
123456