In [ ]:
import pandas as pd
import numpy as np

# Create a dataframe having 3 rows 
# Representing 3 stores, and have shoes as items
# enter any 5 brands differently in all 3 stores
Item=[{"Nike":45,"Adidas":12,"Lotto":3,"Redtape":15},
      {"Woodland":78,"Adidas":26,"Numero":89,"UCB":16},
      {"Woodland":8,"Nike":5,"Lotto":13,"UCB":26}]
StoreInfo=pd.DataFrame(Item)
StoreInfo.index=["Store1","Store2","Store3"]
print(StoreInfo)

        Nike  Adidas  Lotto  Redtape  Woodland  Numero   UCB
Store1  45.0    12.0    3.0     15.0       NaN     NaN   NaN
Store2   NaN    26.0    NaN      NaN      78.0    89.0  16.0
Store3   5.0     NaN   13.0      NaN       8.0     NaN  26.0

In [ ]:
# WAP to count number of Nan Values in Above Given Df using Loops
#print(StoreInfo)
Count=0
for i in StoreInfo.columns:
  for j in StoreInfo.index:
    if str(StoreInfo[i][j])=='nan':
      Count+=1
print(Count)

In [ ]:
print(StoreInfo.isnull())
print(np.sum(StoreInfo.isnull()))
print(np.sum(np.sum(StoreInfo.isnull())))
print(StoreInfo.isnull().sum().sum())

In [ ]:
print(StoreInfo)

        Nike  Adidas  Lotto  Redtape  Woodland  Numero   UCB
Store1  45.0    12.0    3.0     15.0       NaN     NaN   NaN
Store2   NaN    26.0    NaN      NaN      78.0    89.0  16.0
Store3   5.0     NaN   13.0      NaN       8.0     NaN  26.0

In [ ]:
print(StoreInfo.isna())

In [ ]:
Info=np.sum(StoreInfo[["Adidas","Redtape","Numero"]].isnull())
print(Info)

In [ ]:
A1=StoreInfo[["Nike","Lotto","Woodland"]].size
A=StoreInfo[["Nike","Lotto","Woodland"]].isnull().sum().sum()
print(A1-A)

In [ ]:
print(StoreInfo[["Nike","Lotto","Woodland"]].count())
print(StoreInfo[["Nike","Lotto","Woodland"]].count().sum())

In [ ]:
# WAP to store stocks of fruits available in 3 stores
# Mangos, Bananas, Lichis, Kiwis, Oranges
# Count can be as per user defined
# All the stores will not have all the above mnetioned fruits, 
# individual store will have only 3 fruits
Item=[{"Mangos":45,"Banana":12,"Kiwis":3},
      {"Lichi":78,"Kiwis":26,"Oranges":89},
      {"Oranges":8,"Banana":5,"Mangos":13}]
StoreInfo=pd.DataFrame(Item)
StoreInfo.index=["Store1","Store2","Store3"]
print(StoreInfo)

# Print count of Mangos available in store 1 and store 2
print(StoreInfo["Mangos"][[0,1]].sum())

print(StoreInfo["Mangos"]["Store1"]+StoreInfo["Mangos"]["Store2"])

        Mangos  Banana  Kiwis  Lichi  Oranges
Store1    45.0    12.0    3.0    NaN      NaN
Store2     NaN     NaN   26.0   78.0     89.0
Store3    13.0     5.0    NaN    NaN      8.0
45.0
nan

In [ ]:
# Print name of fruit not available in store 3
Temp=StoreInfo.loc["Store3"]
print(Temp)
print(Temp.isna())
print(Temp[Temp.isna()])
print(list(Temp[Temp.isna()].index))

In [ ]:
# print name of fruits available in both store 2 and 3
Temp1=StoreInfo.loc["Store2"]
Temp1=Temp1[~Temp1.isna()]
Temp2=StoreInfo.loc["Store3"]
Temp2=Temp2[~Temp2.isna()]
print(Temp1.index)
print(Temp2.index)
A=list(Temp1.index)
B=list(Temp2.index)
print(A)
print(B)
print(np.intersect1d(A,B))

In [ ]:
Temp1=StoreInfo.loc["Store2"]
print(Temp1.notna())
print(~Temp1.isna())

In [ ]:
# Dropna
Item=[{"Mangos":45,"Banana":12,"Kiwis":3},
      {"Mangos":78,"Kiwis":26,"Banana":89},
      {"Oranges":8,"Banana":5,"Mangos":13,"Kiwis":26}]
StoreInfo=pd.DataFrame(Item)
StoreInfo.index=["Store1","Store2","Store3"]
print(StoreInfo)
# Can Return To Variable
StoreInfo=StoreInfo.dropna()
print(StoreInfo)

In [ ]:
# Dropna
Item=[{"Mangos":45,"Banana":12,"Kiwis":3},
      {"Mangos":78,"Kiwis":26,"Banana":89},
      {"Oranges":8,"Banana":5,"Mangos":13,"Kiwis":26}]
StoreInfo=pd.DataFrame(Item)
StoreInfo.index=["Store1","Store2","Store3"]
print(StoreInfo)
# Can update original variable by inplace = True
StoreInfo.dropna(axis=1,inplace=True)
print(StoreInfo)

In [ ]:
Item=[{"Mangos":45,"Banana":12,"Kiwis":3},
      {"Mangos":78,"Kiwis":26,"Banana":89},
      {"Oranges":8,"Banana":5,"Mangos":13}]
StoreInfo=pd.DataFrame(Item)
StoreInfo.index=["Store1","Store2","Store3"]
print(StoreInfo)

# WAP to replace NAN values with 0 and print Dataframe
StoreInfo[StoreInfo.isna()]=0
print(StoreInfo)

        Mangos  Banana  Kiwis  Oranges
Store1      45      12    3.0      NaN
Store2      78      89   26.0      NaN
Store3      13       5    NaN      8.0
        Mangos  Banana  Kiwis  Oranges
Store1      45      12    3.0      0.0
Store2      78      89   26.0      0.0
Store3      13       5    0.0      8.0

In [ ]:
Item=[{"Mangos":45,"Banana":12,"Kiwis":3},
      {"Mangos":78,"Kiwis":26,"Banana":89},
      {"Oranges":8,"Banana":5,"Mangos":13}]
StoreInfo=pd.DataFrame(Item)
StoreInfo.index=["Store1","Store2","Store3"]
print(StoreInfo)
# WAP to replace nan value of a column 
# with its mean value of same column
for i in StoreInfo.columns:
  Temp=StoreInfo[i]
  Temp[Temp.isna()]=Temp.mean() 
  StoreInfo[i]=Temp
print(StoreInfo)

In [ ]:
Item=[{"Mangos":45,"Banana":12,"Kiwis":3},
      {"Mangos":78,"Kiwis":26,"Banana":89},
      {"Oranges":8,"Banana":5,"Mangos":13}]
StoreInfo=pd.DataFrame(Item)
StoreInfo.index=["Store1","Store2","Store3"]
print(StoreInfo)

print(StoreInfo.fillna(method="bfill",axis=1))
print(StoreInfo.fillna(method="ffill",axis=1))

In [ ]:
print(StoreInfo.fillna(method="bfill",axis=0))

In [ ]:
Item=[{"Mangos":45,"Banana":12,"Kiwis":3},
      {"Mangos":78,"Kiwis":26,"Banana":89},
      {"Oranges":8,"Banana":5,"Mangos":13}]
StoreInfo=pd.DataFrame(Item)
StoreInfo.index=["Store1","Store2","Store3"]
print(StoreInfo)
# WAP to fill NAN values using Column wise Back Fill 
# if Any value still left, replace it with max of its column
StoreInfo.fillna(method="bfill",axis=0,inplace=True)
print(StoreInfo)
for i in StoreInfo.columns:
  Temp=StoreInfo[i]
  Temp[Temp.isna()]=Temp.max()
  StoreInfo[i]=Temp
print(StoreInfo)

In [ ]:
# WAP to have a function created by you
# input of functions
# dataframe to change and type and axis
# if type==1 the function should work with logic of Bfill
# if type==2 the function should work with logic of Ffill
# return updated Dataframe