User input
Name
if name all alphabets
   get Mobile Number
   if Mobile number numeric as well as 10 digit
   get adress
   User input
  Count=Howe many semester done till now
  All sem marks= All markes till present semester
  if marks length == Count semester   
     Print average marks
     aLL INFOR IN A LIST
  else
   input again
else
Get input again

In [ ]:
name=input("Enter Name: ")
if name.isalpha():
  Mnum=input("Enter Mobile Number: ")
  if len(Mnum)>=10 and Mnum.isdigit():
    Adress=input("Enter address: ")
    Csem=input("Enter Current Sem: ")
    PMrks=list(map(float,input("Enter Marks of Students").split(',')))
    if len(PMrks)==Csem:
      print("You Average Marks are: ",sum(PMrks)/Csem)
      # Add asll this to list
      

    else:
      print("Try Again")
  else:
    Mnum=input("Enter Mobile Number Again: ")
else:
  name=input("Enter Name again: ")

In [ ]:
A="45454545"
print(A.isdigit())

True

In [ ]:
# Sets and Dict.
A={1,2,3,4,5,6,7,'Asd',45.0}
print(A)
print(type(A))

{1, 2, 3, 4, 5, 6, 7, 45.0, 'Asd'}
<class 'set'>

In [ ]:
print(A)
A.add("Hello")
print(A)
A.update(["Hello Abc","45"])
print(A)

{1, 2, 3, 4, 5, 6, 7, 'H', 'e', 45.0, 'b', 'Hello', 'c', 'Asd', 'l', 'A', ' ', 'o'}
{1, 2, 3, 4, 5, 6, 7, 'H', 'e', 45.0, 'b', 'Hello', 'c', 'Asd', 'l', 'A', ' ', 'o'}
{1, 2, 3, 4, 5, 6, 7, 'H', 'e', '45', 'Asd', 'o', 45.0, 'b', 'c', 'l', 'A', ' ', 'Hello Abc', 'Hello'}

In [ ]:
A={1,2,3,4,5,6,7,'Asd',45.0}
B={"4","7"}
print(A+B)

TypeError: ignored

Get a number of Names from user
Get a Ages of given names from user
check if count of names and Ages are same or not if yes, print one name, 1 age, second name second age and so on

Not:
The output must not have any repetition of names

In [ ]:
Nam=input("Enter Names").split(',')
Age=input("Enter Ages").split(',')
if len(set(Nam))==len(Age):
  Out=[Nam,Age]
  print(Out)
else:
  print("Excessive Inputs Given")

In [ ]:
A={1,2,3,4,5,6,7,'Asd',45.0}
print(A)
#A.remove('1')
print(A)
A.discard("2")
print(A)
A.pop()
print(A)
A.clear()
print(A)
del A
print(A)

In [ ]:
A={"Aadi","BMW","Thar","Maruti"}
B={"Mercedes","BMW","Nexon","Wrangler"}
C=A.union(B)
print(C)
C=A | B
print(C)

# INtersection
C=A & B
print(C)
C=A.intersection(B)
print(C)

{'Nexon', 'Wrangler', 'Mercedes', 'BMW', 'Aadi', 'Maruti', 'Thar'}
{'Nexon', 'Wrangler', 'Mercedes', 'BMW', 'Aadi', 'Maruti', 'Thar'}
{'BMW'}
{'BMW'}

In [ ]:
# Dictonaries
Myinfo={"Name":["A","B","C"],"Num":[1,2,8,7],0:[2,3,4]}
print(Myinfo)
print(Myinfo[0])
print(Myinfo["Name"])
Myinfo["Adress"]="Chandigarh sector 22"
print(Myinfo)

In [ ]:
# Functions in Dict
Myinfo={"Name":["A","B","C"],"Num":[1,2,8,7],"Play":[2,3,4]}
#Myinfo["Name"]=[1,2,3]
print(Myinfo)

# update
#Myinfo.update({"Name":["Asd","Bnm"]})
#print(Myinfo)
#Myinfo.update({"Cars":["BMW","Audi"]})
#print(Myinfo)

# get
print(Myinfo.get("Name"))

# del

# clear
#Myinfo.clear()
#print(Myinfo)
# pop
#Myinfo.pop("Name")
#print(Myinfo)

# popitem
#Myinfo.popitem()
#print(Myinfo)

# keys
print(Myinfo.keys())
# items
print(Myinfo.items())
# values
print(Myinfo.values())

{'Name': ['A', 'B', 'C'], 'Num': [1, 2, 8, 7], 'Play': [2, 3, 4]}
['A', 'B', 'C']
dict_keys(['Name', 'Num', 'Play'])
dict_items([('Name', ['A', 'B', 'C']), ('Num', [1, 2, 8, 7]), ('Play', [2, 3, 4])])
dict_values([['A', 'B', 'C'], [1, 2, 8, 7], [2, 3, 4]])

### Task Bank Recommendation System

In a cell, get names of banks and rate of interest they offer and store information in dictionery

In Next cell
Get Loan amount user need
No. of years for loan
Calculate SI, Total Amount i.e P+SI

Store whole info in a list and finally print a bank as follow with least interest

Bank name, Interest offered, Loan AMount and Total amount to pay with interest

In [ ]:
# Solution
# Cell 1
Bank=input("Enter Bank Name: ").split(",")
print("Successfully Names Entered")
RateOfr=list(map(float,input("Enter Rate of Interests: ").split(",")))
print("Successfully Rate Of Interest Entered")
print("Entering To database")
print("Processing.........")
print("Processing.........")
print("Processing.........")
print("Processing.........")

DataInfo={"Bank":[],"Rates":[]}
Temp=set(Bank)
if len(Temp)==len(RateOfr):
   DataInfo['Bank']=Bank
   DataInfo['Rates']=RateOfr
   print("Data Stored, you can proceed")
else:
  print("Error While creating dataBase, please rerun the cell")

Enter Bank Name: HDFC,ICICI,PNB, SBI,YCO
Successfully Names Entered
Enter Rate of Interests: 12,15,13.5,10,14
Successfully Rate Of Interest Entered
Entering To database
Processing.........
Processing.........
Processing.........
Processing.........
Data Stored, you can proceed

In [ ]:
print("Welcome To Our Application")
Pamt=int(input("Enter Amount for Loan: "))
Pyrs=float(input("Enter Years for Loan: "))
print("Thanks For Entering Your requirements")
print("Please wait while we are suggesting you best bank")
print("Processing.....")
print("Processing.....")
print("Processing.....")

Welcome To Our Application
Enter Amount for Loan: 100000
Enter Years for Loan: 3
Thanks For Entering Your requirements
Please wait while we are suggesting you best bank
Processing.....
Processing.....
Processing.....

In [ ]:
import operator

# Main Calculation Starts
Rate=DataInfo["Rates"]
print(Rate)
print(type(Rate))



Temp=[(Pamt*Pyrs)]*len(Rate)
print(Temp)
Temp1=list(map(operator.mul,Rate,Temp))
print(Temp1)

Temp=[100]*len(Rate)
print(Temp)
Temp2=list(map(operator.truediv,Temp1,Temp))
print(Temp2)

#SInt=p*r*t/100
#Tamnt=Pamt+SInt
#Min(Tamnt)
#index of Min(Tamnt)
#Dict bank, name, intrest

[12.0, 15.0, 13.5, 10.0, 14.0]
<class 'list'>
[300000.0, 300000.0, 300000.0, 300000.0, 300000.0]
[3600000.0, 4500000.0, 4050000.0, 3000000.0, 4200000.0]
[100, 100, 100, 100, 100]
[36000.0, 45000.0, 40500.0, 30000.0, 42000.0]