In [ ]:
import pandas as pd
import numpy as np

A=pd.Series([1,2,4,5,6,5])
print(A)

In [ ]:
A.drop(2,inplace=True)

In [ ]:
print(A)

In [ ]:
# WAP to get info fo 5 students
# Name, Age, Area of interest, Placed, Graduated or not
Info=pd.Series(dtype=str)
for i in range(5):
  Nm=input("Enter Name OF Student "+str(i+1)+": ")
  Age=input("Enter Age OF Student "+str(i+1)+": ")
  Ain=input("Enter Intrst OF Student "+str(i+1)+": ")
  PlcS=input("Enter Plcmnt Status OF Student "+str(i+1)+": ")
  EdS=input("Enter Edu Status OF Student "+str(i+1)+": ")
  Info[Nm]=[Nm,Age,Ain,PlcS,EdS]
print(Info)

In [ ]:
print(Info)

Deepak      [Deepak, 12, Python, P, G]
Arash        [Arash, 23, Java, NP, NG]
Ranjit    [Ranjit, 25, Android, P, NG]
asdf        [asdf, asd, asd, asd, asd]
asf          [asf, asf, asf, asf, asf]
dtype: object

In [ ]:
for i in Info.index:
  Temp=Info[i]
  if Temp[4]=="NG":
    print("Delete Me I am NG")
    Info.drop(i,inplace=True)
  elif Temp[4]=="G":
    if Temp[3]=="P":
      print("Delete Me I am P")
      Info.drop(i,inplace=True)
print(Info)

In [ ]:
As=pd.Series([4,1,5,7,8,5],index=["C",'D',"E","F","G","H"])
print(As)
for i in As.index:
  if i=="D" or i=="E" or i=="H":
    As.drop(i,inplace=True)
print(As)

In [ ]:
# Dataframes
A=pd.DataFrame([1,2,3,4,5,6])
print(type(A))
print(A)

In [ ]:
A=pd.DataFrame([[1,2,3,4,5,6],[1,2,3,4,5,6]])
print(type(A))
print(A)

<class 'pandas.core.frame.DataFrame'>
   0  1  2  3  4  5
0  1  2  3  4  5  6
1  1  2  3  4  5  6

In [ ]:
print(([[1,2,3,4,5,6],[1,2,3,4,5,6]]))

In [ ]:
# Dataframes
Dct={"A":["D",2],"B":["E",15]}
A=pd.DataFrame(Dct)
print(type(A))
print(A)

In [ ]:
A={"Deep":pd.Series([1,2,3,4],index=['A',"B","C","D"]),
   "Karan":pd.Series([1,2,3,4],index=['A',"B","C","D"])}
C=pd.DataFrame(A)
print(C)

In [ ]:
A={"Deep":pd.Series([1,2,3],index=['A',"C","D"]),
   "Karan":pd.Series([1,2,3],index=['A',"B","C"])}
C=pd.DataFrame(A)
print(C)

In [ ]:
A=pd.DataFrame([1,2,3,4],index=["A","as","ass","asss"])
print(type(A))
print(A)

In [ ]:
A.index=["A","B","C","D"]
print(A)

   Ist
A    1
B    2
C    3
D    4

In [ ]:
A=pd.DataFrame([[1,2,3,4],[4,5,7,8]],index=["A","B"],
               columns=["C1","C2","C3","C4"])
print(type(A))
print(A)

In [ ]:
print(A.values)

[[1 2 3 4]
 [4 5 7 8]]

In [ ]:
A.columns=["Ist","2nd","3rd","4th"]
print(A)
print(A.shape)
print(A.index)
print(A.columns)
print(A.size)
print(A.ndim)

In [ ]:
A={"Int":[1,2,3],"Float":[1.2,1.5,1.6]}
Df=pd.DataFrame(A)
print(Df)

In [ ]:
A={"Int":[1,2,3],"Float":[1.2,1.5,1.6]}
B={"Int":[1,2,3],"Float":[1.2,1.5,1.6]}
C=[A,B]
Df=pd.DataFrame(C)
print(Df)

A={"Int":[1,2,3],"Float":[1.2,1.5,1.6]}
B={"Int1":[1,2,3],"Float":[1.2,1.5,1.6]}
C=[A,B]
Df=pd.DataFrame(C)
print(Df)

In [ ]:
# WAP to collect data of students in form of 
# dataframe having index as names given by user
# and columns as attrributes as follow:
# Age, Contact, Email, Semester, Average Marks till now, 
# Branch, PLacement status

# Count of Students
#      Age, Contact, Email, Sem, AMarks, Branch, Pstatus
# Deep 12   45646    sa@gml  5    455     ece       P
# Aksh 45    44546   sa@da   6    444     cse       Np

In [ ]:
from IPython.core.display import set_matplotlib_close
Cnt=int(input("Count: "))
for num in range(Cnt):
  Det=list(map(str,
  input("Enter Details of Student "+str(num)+": ")))