# **Tasks**
## 1) WAP by using string "Changing 1s Ideas into 100's Reality", show results as per following cases
- Check whether the string has "ea" is in it or not
- Find index of "a"
- Check whether the string has alphabets only, or alphanumeric
- Reverse the format of given string by changing capital to lower and lower to capital  

## 2) WAP having 2 inputs from user, both as 2 words, check following condition and show results
- Print whether both input are same or not
- Print last letter of first string concatinated with first word of first string
- Get last word of String 1, and embed it to string 2 after second word

## 3) WAP with a string "abc hello where is this Chandigarh situated abc" print string between first a and last a, without giving manual index, use only functions.

In [ ]:
Inp="Changing 1s Ideas into 100's Reality"
print("ea" in Inp)
print(Inp.index("a"))
print(Inp.isalpha())
print(Inp.isalnum())
print(Inp.swapcase())

print("Inp456".isalnum())
print("456".isalnum())
print("Inp".isalnum())

In [ ]:
Str1=input("Enter Ist String: ")
Str2=input("Enter 2nd String: ")
print("Both Entered words are Same ? ",Str1==Str2)

Enter Ist String: Deepak
Enter 2nd String: Deepak
Both Entered words are Same ?  True

In [ ]:
Str1="Hello Friends"
A=Str1[-1]
B=Str1.find(" ")
print(A+Str1[0:B])

sHello

In [ ]:
## LIST
A="Hi I am here to Teach YOu"
B=A.split(" ")
print(B)
print(type(B))

['Hi', 'I', 'am', 'here', 'to', 'Teach', 'YOu']
<class 'list'>

In [ ]:
A=[3,4,5,6,7]
print(A)
A=[3,4,5.0,'6',7,'A']
print(A)

[3, 4, 5, 6, 7]
[3, 4, 5.0, '6', 7, 'A']

In [ ]:
A=[3,4,5.0,'6',7,'A']
print(A[0])

# create 1 list with 5 elements, and print last 2 elements using negative index
print(A[-2:])

3
[7, 'A']

In [ ]:
A=[3,4,5.0,'6',7,'A']
A[2]="Deepak"
B=A[2]
print(B[1:3])

ee

In [ ]:
A=['ram','rakesh','satbir','Krishan','Boss']
B=['Kran']
D='Karan'
#append 
#extend 
#insert 

                #append :used to add elements in string
A.append("Karan")
print(A)
A.append(["Karan",'Arjun'])
print(A)
print(A[-1])

['ram', 'rakesh', 'satbir', 'Krishan', 'Boss', 'Karan']
['ram', 'rakesh', 'satbir', 'Krishan', 'Boss', 'Karan', ['Karan', 'Arjun']]
['Karan', 'Arjun']
['ram', 'rakesh', 'satbir', 'Krishan', 'Boss', 'K', 'a', 'r', 'a', 'n']

In [ ]:
#extend : It also add items in list but it works itrately
A=['ram','rakesh','satbir','Krishan','Boss']
A.extend("Karan")
print(A)

A=['ram','rakesh','satbir','Krishan','Boss']
A.extend(["Karan",'Arjun'])
print(A)

['ram', 'rakesh', 'satbir', 'Krishan', 'Boss', 'K', 'a', 'r', 'a', 'n']
['ram', 'rakesh', 'satbir', 'Krishan', 'Boss', 'Karan', 'Arjun']

In [ ]:
#insert : it insert data at paticular index
A=['ram','rakesh','satbir','Krishan','Boss']
A.insert(2,"Deepak")
print(A)

['ram', 'rakesh', 'Deepak', 'satbir', 'Krishan', 'Boss']

In [ ]:
# Q) Replace at 4 index
A=['ram','rakesh','satbir','Krishan','Boss']
A[4]="Deepak"
print(A)

In [ ]:
#inert at 5th insex and 10 index
A=['ram','rakesh','satbir','Krishan','Boss']
A.insert(5,"Deepak")
print(A)
A.insert(10,"Deepak") # it wil insert at the end no matter what is the last index
print(A)

['ram', 'rakesh', 'satbir', 'Krishan', 'Boss', 'Deepak']
['ram', 'rakesh', 'satbir', 'Krishan', 'Boss', 'Deepak', 'Deepak']

In [ ]:
#delete
A=['ram','rakesh','satbir','Krishan','Boss']
del A[0]
print(A)

['rakesh', 'satbir', 'Krishan', 'Boss']

In [ ]:
A='Big Boss'
del A[0]
print(A)

In [ ]:
A=['ram','rakesh','satbir','Krishan','Boss']
del A
print(A)

In [ ]:
A='Big Boss'
del A
print(A)

In [ ]:
# remove : here we can remove/delete by giving acurate name of that element
A=['ram','rakesh','satbir','Krishan','Boss']
A.remove("rakesh")
print(A)
A.remove(1)
print(A)

In [ ]:
print(A.pop())

Boss

Get Name of employee,
Salary,
Total working days,
Pay for additional days,
and add this information to a list with a calculated values of = 
Salary+Additional days*Pay for aditional days

In [ ]:
Name=input("Enter Name: ")
Sal=int(input("Enter Salary: "))
Day=int(input("Enter Working Days: "))
Pday=int(input("Enter Pay for Overday: "))
CalVal=Sal+(Day-30)*Pday
Name2=input("Enter Name: ")
Sal2=int(input("Enter Salary: "))
Day2=int(input("Enter Working Days: "))
Pday2=int(input("Enter Pay for Overday: "))
CalVal2=Sal2+(Day2-30)*Pday2
Info=[Name,Sal,Day,Pday,CalVal,Name2,Sal2,Day2,Pday2,CalVal2]
print(Info)

In [ ]:
A=[4,7,1,2,9]
print(max(A))
A=['Za','Asd','Bhsd','rakes','Noo','Aa']
print(max(A))
print(min(A))
A.sort()
print(A)

9
rakes
Aa
['Aa', 'Asd', 'Bhsd', 'Noo', 'Za', 'rakes']

In [ ]:
A=['Za','Asd','Bhsd','rakes','Noo']
B=A
#B.pop()
#print(B)
C=B.pop()
print(C)
print(B)
print(A)

Noo
['Za', 'Asd', 'Bhsd', 'rakes']
['Za', 'Asd', 'Bhsd', 'rakes']

In [ ]:
A=['Za','Asd','Bhsd','rakes','Noo']
B=A.copy()
C=B.pop()
print(C)
print(B)
print(A)

Noo
['Za', 'Asd', 'Bhsd', 'rakes']
['Za', 'Asd', 'Bhsd', 'rakes', 'Noo']