In [ ]:
# Acceptable cases of Defining A variable in Python
ASDVAR=5
Avar="deepak"
Asd344="Deepak"
Asd_Var="Deepak"
_var="Deepak"
print(Avar+Asd344,ASDVAR)

Name="Deepak"
Age=45
print('"My name Is '+ Name,'"' ,"' and my age is '", Age)

deepakDeepak 5
"" ' and my age is ' 45

In [ ]:
# Non Acceptable cases of Defining A variable in Python
2ASFD=5
2Avar="deepak"
Asd@344="Deepak"
print()

Different Data Type in Python
-------------------------------
Binary Type: memoryview, binary
Booloean Type: bool
Set Type: sets
Sequence Type: list, tuple
Numeric Type: int, float, complex
Text Type : str
Mapping Type: dict

List, tuple: it is class of data structure that can have homogeneous datatypes or heterogenous

In [ ]:
# Operators In Python
# Logical (and , &&, or ||) Used in case when conditions are to check
# Bitwise (&, |, !)   Used in case When binary operation is to apply
# Relational/Comparison (>=, ==,<=, ) to find relation between 2 entries
# Arithmatic (+,-,*,/)  mathematical operations
# Assignment (=, +=, -=, *=, /=) assigning values to a variable
# identity (is, is not) checking typoe of object same of not
# membership (in, not in) checking that value lie in a sequence

In [ ]:
A=input("Please Enter Your Name: ")
print(type(A))
#print(A+2)
A=int(A)
print(type(A))
print(A+2)

In [ ]:
#Type Casting
A=5        # Integer type
B=5.65     # Float type
C="Deepak" # String type
D="D"      # String 
E="5"      # String

# Int to Float
print("Int to float")
print(type(A))
COut=float(A)
print(type(COut))

# Float To Int
print("float to int")
print(type(B))
COut=int(B)
print(type(COut))

# Int to str
print("Int to str")
print(type(A))
COut=str(A)
print(type(COut))

# Float to str
print("float to str")
print(type(B))
COut=str(B)
print(type(COut))

Int to float
<class 'int'>
<class 'float'>
float to int
<class 'float'>
<class 'int'>
Int to str
<class 'int'>
<class 'str'>
float to str
<class 'float'>
<class 'str'>

In [ ]:
#############################
# Str to INt from a word
print(type(C))
COut=int(C)
print(type(COut))
# Str to Float
print(type(C))
COut=float(C)
print(type(COut))
#############################

<class 'str'>

ValueError: ignored

In [ ]:
#############################
# Str to INt from a letter
print(type(D))
COut=int(D)
print(type(COut))
# Str to Float
print(type(D))
COut=float(D)
print(type(COut))
#############################

<class 'str'>

ValueError: ignored

In [ ]:
#############################
# Str to INt from a numeric string
print(type(E))
COut=int(E)
print(type(COut))
# Str to Float
print(type(E))
COut=float(E)
print(type(COut))
#############################

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>