In [ ]:
A=("Asd",'qwe','34',540)
print(A)
print(type(A))
print(len(A))

('Asd', 'qwe', '34', 540)
<class 'tuple'>
4

In [ ]:
print(A[1:3])
A[1]="Karan"
print(A)

In [ ]:
A=('a','b','c','d','e','f','g')
# TYPE CASTING
B=list(A)
B[3]=B[3].upper()
A=tuple(B)
print(A)

In [ ]:
A=("Deepak",45,"Raman","12345")
B="Lovedeep","EESPL"
C=A+B
print(C)

('Deepak', 45, 'Raman', '12345', 'Lovedeep', 'EESPL')

In [ ]:
A=("D3eepak",)
B=("Hello",)
C=A+B
print(C)
print(type(C))

('D3eepak', 'Hello')
<class 'tuple'>

In [ ]:
A='true',4,"outpuy"
print(A)
print(type(A))

('true', 4, 'outpuy')
<class 'tuple'>

In [ ]:
print(A)
b=A[0]
c=A[1]
d=A[2]
print(b)
print(c)
print(d)

('true', 4, 'outpuy')
true
4
outpuy

In [ ]:
A='asd','123',0,7,"deepak"
a,*b,c=A
print(a)
print(b)
print(c)

asd
['123', 0, 7]
deepak

In [ ]:
A=1,2,3,4
B=[5,6,7,8]
output=A+tuple(B)
print(output)

output2=output[0:3]+output[6:]
print(output2)
print(type(output2))
#output2=1,2,3,6,7,8

In [ ]:
A=5
B=45
if A<B:
  pass
elif A<B:
  print("A is equal to B")
else:
  print("B is Greater")

User input
Name
Budget
Days 
%age of profit


if Bud>50
tuple= name,bud,day,value of profit
if bud>30 along with less than 50
list= name, bud, perday cost
if bud<30
print the project is of low budget

####
overall summary is 
Case1: Tuple either info/ empty 
Case2: List either info/ empty
Case3: Message

In [ ]:
Nam=input("Enter Client Name: ")
Bdgt=int(input("Enter Total Budget: "))
Dys =int(input("Enter Day To Complete Task: "))
Pper=float(input("Enter Expected Profit: "))
MyTuple=()
MyList=[]

# Main filteration starts
if Bdgt>50000:
   MyTuple=MyTuple+(Nam,Bdgt,Dys,Bdgt*Pper/100)
elif 30000<Bdgt<=50000:
   MyList=MyList+[Nam,Bdgt,Bdgt/Dys]
else:
  print("Client is of Low budget")

# Overall outcomes
print(MyTuple)
print(MyList)

Enter Client Name: Rakesh
Enter Total Budget: 10000
Enter Day To Complete Task: 5
Enter Expected Profit: 20
Client is of Low budget
()
[]