In [ ]:
# WAP to collect data of students in form of 
# dataframe having index as names given by user
# and columns as attrributes as follow:
# Age, Contact, Email, Semester, Average Marks till now, 
# Branch, PLacement status

# Count of Students
#      Age, Contact, Email, Sem, AMarks, Branch, Pstatus
# Deep 12   45646    sa@gml  5    455     ece       P
# Aksh 45    44546   sa@da   6    444     cse       Np

In [ ]:
import pandas as pd
import numpy as np
Cnt=int(input("Count: "))
nam=[]
age=[]
cntct=[]
eml=[]
sem=[]
amrk=[]
branc=[]
pstatus=[]
for num in range(Cnt):
  nam.append(input("ENter Name: "))
  age.append(input("ENter age: "))
  cntct.append(input("ENter cntct: "))
  eml.append(input("ENter eml: "))
  sem.append(input("ENter sem: "))
  amrk.append(input("ENter marks: "))
  branc.append(input("ENter branch: "))
  pstatus.append(input("ENter status: "))

Info={"Age":age,"Contact":cntct,"Email":eml,"Sem":sem,"Avg Mark":amrk,"Branch":branc,
      "PlaceS":pstatus}
FRecords=pd.DataFrame(Info,index=nam)
print(FRecords)

In [ ]:
# Accessing elements in Dataframe
print(FRecords)      
print(FRecords["Contact"]["deepaj"])

In [ ]:
print(FRecords.loc["deepaj"])

In [ ]:
print(FRecords.loc["deepaj"])
print(FRecords.loc["deepaj"].Contact)

In [ ]:
print(FRecords.iloc[0])

In [ ]:
print(FRecords["Contact"][0])

In [ ]:
tmp=np.random.randint(5,150,(3,4))
Mydf=pd.DataFrame(tmp)
Mydf.index=["A","B","C"]
Mydf.columns=["Age","Marks","Id","Sem"]
print(Mydf)
print('----------------------------')
print([Mydf["Marks"]["B"],Mydf["Id"]["B"],Mydf["Sem"]["B"]])
print([Mydf.loc["B"].Marks,Mydf.loc["B"].Id])
print([Mydf.iloc[1].Marks,Mydf.iloc[1].Id])

In [ ]:
print(Mydf)
Mydf["Psts"]=["P","F","S"]
print(Mydf)

In [ ]:
tmp=np.random.randint(5,150,(3,4))
Newdf=pd.DataFrame(tmp)
Newdf.index=["A","B","C"]
Newdf.columns=["Age","Marks","Id","Sem"]
print(Newdf)
print(Mydf)

   Age  Marks   Id  Sem
A   25     53  149   13
B   13    129   99   71
C   71    112   60  124
   Age  Marks  Id  Sem Psts
A  149     12   9   11    P
B    9     28  81  130    F
C   79    117  26  133    S

In [ ]:
#print(Newdf+Mydf)
Newdf=Newdf.append(Mydf)
print(Newdf)

In [ ]:
Newdf=Newdf.append([4,5,6])
print(Newdf)

In [ ]:
tmp=np.random.randint(5,150,(3,4))
Newdf=pd.DataFrame(tmp)
Newdf.index=["A","B","C"]
Newdf.columns=["Age","Marks","Id","Sem"]
print(Newdf)

   Age  Marks   Id  Sem
A   37     58   68   89
B  122     32  134   16
C   23     42  106   43

In [ ]:
print(Newdf["Age"])
print(Newdf["Marks"])
Newdf["Total"]=Newdf["Age"]+Newdf["Marks"]
print(Newdf)

A     37
B    122
C     23
Name: Age, dtype: int64
A    58
B    32
C    42
Name: Marks, dtype: int64
   Age  Marks   Id  Sem  Total
A   37     58   68   89     95
B  122     32  134   16    154
C   23     42  106   43     65

In [ ]:
print(Newdf)
Newdf.insert(2,"Branch",["ECE","ECE","Mech"])
print(Newdf)
# error case bcz Branch already exist
#Newdf.insert(2,"Branch",["ECE","ECE","Mech"])
#print(Newdf)

   Age  Marks   Id  Sem  Total
A   37     58   68   89     95
B  122     32  134   16    154
C   23     42  106   43     65
   Age  Marks Branch   Id  Sem  Total
A   37     58    ECE   68   89     95
B  122     32    ECE  134   16    154
C   23     42   Mech  106   43     65

In [ ]:
Newdf.insert(3,"Branch4",["ECE","ECE","Mech"])
print(Newdf)

   Age  Marks Branch Branch4 Branch2 Branch1   Id  Sem  Total
A   37     58    ECE     ECE     ECE     ECE   68   89     95
B  122     32    ECE     ECE     ECE     ECE  134   16    154
C   23     42   Mech    Mech    Mech    Mech  106   43     65

In [ ]:
print(Newdf.drop(["B"]))

   Age  Marks Branch Branch4 Branch2 Branch1   Id  Sem  Total
A   37     58    ECE     ECE     ECE     ECE   68   89     95
C   23     42   Mech    Mech    Mech    Mech  106   43     65

In [ ]:
print(Newdf.drop(["Branch4"],axis=1))

   Age  Marks Branch Branch2 Branch1   Id  Sem  Total
A   37     58    ECE     ECE     ECE   68   89     95
B  122     32    ECE     ECE     ECE  134   16    154
C   23     42   Mech    Mech    Mech  106   43     65

In [ ]:
print(Newdf.pop("Branch2"))
print(Newdf)

In [ ]:
# Banking Task
Name=["Deep","Akash","Neha","Sumit","Rahul"]   
A={"Userid":[114477,112255,116688,224411,665544],
   "Password":[12345,45678,787878,454545,969696],
   "Balance":[40000,25000,12000,47000,100000]}
MyData=pd.DataFrame(A,index=Name)
print(MyData)

       Userid  Password  Balance
Deep   114477     12345    40000
Akash  112255     45678    25000
Neha   116688    787878    12000
Sumit  224411    454545    47000
Rahul  665544    969696   100000

In [ ]:
# Get user input as Login ior not
#if Logion get name and match it with index
# if match than get Uid and pass
# if not tell him user not exist

while True:
  print("Type Login To Access You Account")
  print("Type Exit To Exit Our Application")
  Inp=input("Enter Your Option: ").lower()
  if Inp=="login" or Inp=="exit":
    break

if Inp=="login":
  print("Welcome To Our Portal")
  Nam=input("Enter your Name: ")
  if Nam in MyData.index:
    Uid=int(input("Enter Your User Id: "))
    if Uid==MyData["Userid"][Nam]:
      Pass=int(input("Enter Your Password: "))
      if Pass==MyData["Password"][Nam]:
        print("You Are Login Now")
        print("Enter 1 for adding amount")
        print("Enter 2 for deleting account")
        print("Enter 3 for renaming account")
        print("Enter 4 for exit")
        opt=input("Enter your Choice: ")
        if opt=="1":
          namt=int(input("Enter Amount YOu want to deposit"))
          MyData["Balance"][Nam]+=namt
          print("Your New Balance ",MyData["Balance"][Nam])
        elif opt=="2":
          MyData.drop(Nam,axis=0,inplace=True)
          print(MyData)
        elif opt=="3":
          nwnm=input("Enter New Name: ")
          MyData.rename(index={Nam:nwnm},inplace=True)
          print(MyData)
        else:
          print("You are Exit Now Run Me Again")

      else:
        print("Entered Password Is wrong")  
    else:
      print("Wrong uSer iD")  
  else:
    print("User Does Not Exist Try Again")

Type Login To Access You Account
Type Exit To Exit Our Application
Enter Your Option: login
Welcome To Our Portal
Enter your Name: Akash
Enter Your User Id: 112255
Enter Your Password: 45678
You Are Login Now
Enter 1 for adding amount
Enter 2 for deleting account
Enter 3 for renaming account
Enter 4 for exit
Enter your Choice: 3
Enter New Name: Gaurav
        Userid  Password  Balance
Deep    114477     12345    40000
Gaurav  112255     45678    25000
Neha    116688    787878    12000
Sumit   224411    454545    47000
Rahul   665544    969696   100000

In [ ]:
print(MyData)
MyData.rename(index={"Neha":"Sachin"},inplace=True)
MyData.rename(columns={"Userid":"UID"},inplace=True)
print(MyData)

        Userid  Password  Balance
Deep    114477     12345    40000
Akash   112255     45678    29500
Sachin  116688    787878    12000
Sumit   224411    454545    47000
Rahul   665544    969696   100000
           UID  Password  Balance
Deep    114477     12345    40000
Akash   112255     45678    29500
Sachin  116688    787878    12000
Sumit   224411    454545    47000
Rahul   665544    969696   100000